.section{
      padding: 3em 3em;
      background-color: hsl(0, 0%, 98%);
}

.section-primary{
      margin-bottom: 2em;
}

.section-secondary img{
      display: flex;
      margin: 0 auto;
      margin-bottom: 1em;
}

.section-secondary {
      margin-bottom: 2em;
      
}

@media (min-width: 1024px) {
      .section-secondary-container{
           display: flex;
           gap: 2em;

     } 
     .section-primary{
      margin-bottom: 3em;
     }
     .section-primary h2 ,.section-primary p{
           text-align: left;
          
     }
     .section-secondary h3, .section-secondary p{
           text-align: left;
           margin-bottom: 1em;

     }
     .section-secondary img{
           margin: 0 0 1em;

     }
      
}