@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* , body , html{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      color: hsl(233, 8%, 62%);
      font-family: 'Public Sans', Verdana, Geneva, Tahoma, sans-serif;
}

h1 , h2 , h3{
      color: hsl(233, 26%, 24%) ;
      text-align: center;
      margin-bottom: .5em;
      font-weight: 400;
}
 p { 
       text-align: center;
} 